<div class="container-fluid bg-body-tertiary p-5 ">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-9 mx-auto">
      <div>
        <h4 class="mb-3 col-12">Get The FreshCart App</h4>
        <p class="text-secondary mb-4 col-12">We Will Send You a Link , Open It In Your Phone to  Download the App</p>
        <div class="d-flex justify-content-center align-items-center gap-3 mb-4 mt-4 flex-wrap flex-md-nowrap">
          <input type="text" class="form-control d-inline w-75 col-12 col-md-8" placeholder="Enter Your Email">
          <button class="btn bg-main text-white ms-4 col-9 col-md-2">Share App Link</button>
        </div>
        <div class="d-flex justify-content-between align-items-cente flex-wrap flex-md-nowrap my-5 py-3 gap-4 border-top border-bottom">
          <div class="col-12 col-md-5">
            <span>Payment Partners</span>
            <img src="images/visa.svg" alt="">
            <img src="images/visa-1.svg" alt="">
            <img src="images/master.svg" alt="">
          </div>
          <div class="col-12 col-md-7 px-5">
            <span>Get Delivered With FreshCart</span>
            <img src="images/google-app.png" style="width:100px ; margin-left: 8px; margin-block: 8px;" alt="">
            <img src="images/app-storeee.png" style="width:100px ; margin-left: 8px; margin-block: 8px;" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
