<div class="row g-0">
  <div class="col-md-9">
    <div>
      <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide>
         <img style="height: 400px;" class="w-100 object-fit-cover" src="images/slide-2.jpeg" alt="main-slider">
       </ng-template>
       <ng-template carouselSlide>
        <img style="height: 400px;" class="w-100 object-fit-cover" src="images/banner-4.jpeg" alt="main-slider">
       </ng-template>
      </owl-carousel-o>

    </div>
  </div>
  <div class="col-md-3">
    <div >
      <img style="height: 200px;" class="w-100 object-fit-cover" src="images/main-slider-1.jpeg" alt="main-slider">
      <img style="height: 200px;" class="w-100 object-fit-cover" src="images/main-slider-2.jpeg" alt="main-slider">
    </div>
  </div>
</div>
